@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Schoolbell", monospace;
}

main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(230, 210, 190),
    rgb(200, 180, 170)
  );
}

h2 {
  text-align: center;
}

.frame-img {
  width: 360px;
  position: absolute;
  z-index: 2;
}
.cover-art {
  position: absolute;
  width: 280px;
  top: 46px;
  left: 43px;
}

.painting-wrapper {
  position: relative;
  width: 100%;
}

.furniture-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.furniture-wrapper a {
  z-index: 100;
  display: block;
  position: absolute;
  right: 120px;
  width: 200px;
}

.drawer {
  width: 500px;
  left: 30px;
  bottom: -140px;
  position: absolute;
}

.walkman {
  position: absolute;
  width: 160px;
  top: -270px;
  left: 50%;
}

.piggy-bank {
  position: absolute;
  top: 0;
  width: 90px;
  z-index: 100;
  top: -300px;
  left: 0%;
}

.ledger {
  background-color: #ffffff;
  padding: 20px;
  margin: 60vh auto;
  max-width: 90%;
}

.ledger table {
  border-collapse: collapse;
}

.ledger table thead th {
  text-align: center;
  padding: 10px;
}

.ledger table thead th:first-child {
  text-align: left;
}

.ledger tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ledger tr td {
  padding: 10px;
  text-align: center;
}

.ledger tr td:first-child {
  text-align: left;
}

.break-even {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.commercial {
  width: 100%;
}
